.menuList {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    flex: 1;
}
.menu {
    display: flex;
    padding: 0;
    margin: 0;
}
.menuLink {
    font-size: 20px;
    font-family: "ヒラギノ角ゴシック ProN", "游ゴシック Medium", Arial;    
    display: block;
    color: black;
    text-align: center;
    padding: 12px 8px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
nav {
    width: 100%;
    height: 50px;
    background-color: rgb(141, 143, 141);
}

@media (max-width: 768px) {
    .menuLink {
        font-size: 16px;
        padding: 10px 5px;
    }
}

@media (max-width: 480px) {
    .menuLink {
        font-size: 12px;
        padding: 10px 3px;
    }
}